h1, p {
    font-family: Lato;
  }

  .wrapper {	
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .form-signin {
    max-width: 36rem;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #ffe8c8;
    border: 1px solid rgba(0,0,0,0.1)
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}